In [96]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler

In [3]:
data=pd.read_excel("./time1.xlsx")

In [4]:
data.head()

,用户ID,IDnumber,ICSR1,ICSR2,ICSR3,ICSR4,ICSR5,ICSR6,meanICSR,ECSRCS1,...,gender,age,edu,tenure,position,size,industry,Q5_8,diff,ICSRECSR
0,ABumbaDwmunn,1,5,6,5,6,6,5,4.857143,6,...,1,1,4,3,2,2,3,3876,0.597403,26.493506
1,spNCNcACJuUG,2,6,7,6,4,5,6,5.666667,5,...,1,1,4,1,1,4,1,3730,0.000000,30.393939
2,kaIvoYxnThI5,3,6,5,7,5,4,2,4.833333,4,...,1,1,4,2,1,4,4,4040,0.803030,27.242424
3,IZ1Lz4p5ruR1,4,7,7,7,6,7,6,6.666667,6,...,1,2,2,3,1,1,1,349,0.000000,43.030303
4,9f1cuLM1Hi8Z,5,6,6,7,5,5,6,5.833333,6,...,0,1,3,3,1,3,2,315,0.000000,33.409091

In [5]:
data.columns

Index(['用户ID', 'IDnumber', 'ICSR1', 'ICSR2', 'ICSR3', 'ICSR4', 'ICSR5',
       'ICSR6', 'meanICSR', 'ECSRCS1', 'ECSRCS2', 'ECSRCS3', 'ECSRCS4',
       'ECSREN1', 'ECSREN2', 'ECSREN3', 'ECSREN4', 'ECSRCO1', 'ECSRCO2',
       'ECSRCO3', 'meanECSR', 'PVBE1', 'PVBE2', 'PVBE3', 'PVBE4', 'PVUN1',
       'PVUN2', 'PVUN3', 'PVUN4', 'PVUN5', 'PVUN6', 'PVEN', 'PVAC1', 'PVAC2',
       'PVAC3', 'PVAC4', 'PVPO1', 'PVPO2', 'PVPO3', 'PVTR', 'RD1', 'RD2',
       'RD3', 'meanRD', 'PCB1', 'PCB2', 'PCB3', 'PCB4', 'PCB5', 'MeanPCB',
       'SD1', 'SD2', 'SD3', 'SD4', 'SD5', 'SD6', 'SD7', 'SD8', 'SD9', 'SD10',
       'SD11', 'SD12', 'SD13', 'SD14', 'SD', 'gender', 'age', 'edu', 'tenure',
       'position', 'size', 'industry', 'Q5_8', 'diff', 'ICSRECSR'],
      dtype='object')

In [6]:
inner=data.loc[:,['ICSR1', 'ICSR2', 'ICSR3', 'ICSR4', 'ICSR5',
       'ICSR6']].mean(axis=1)

In [7]:
outer=data.loc[:,['ECSRCS1', 'ECSRCS2', 'ECSRCS3', 'ECSRCS4',
       'ECSREN1', 'ECSREN2', 'ECSREN3', 'ECSREN4', 'ECSRCO1', 'ECSRCO2',
       'ECSRCO3']].mean(axis=1)

In [57]:
mean_rd=data.loc[:,['RD1', 'RD2',
       'RD3']].mean(axis=1)

In [62]:
mean_pcb=data.loc[:,['PCB1', 'PCB2', 'PCB3', 'PCB4', 'PCB5']].mean(axis=1)

In [58]:
diff=outer-inner

In [69]:
# plt.plot(diff,mean_pcb)

In [74]:
# np.corrcoef(diff,mean_pcb,rowvar=False)
# diff.describe(),mean_pcb.describe(),mean_pcb.describe()

In [91]:
# normalization
main=pd.DataFrame(np.array([diff,mean_rd,mean_pcb]).T,columns=['diff','mean_rd','mean_pcb'])

In [98]:
scaler=MinMaxScaler()

In [102]:
res=scaler.fit_transform(main.loc[:,['mean_rd','mean_pcb']])

In [133]:
main_norm_data=np.hstack((np.array(diff).reshape(-1,1),res))

In [146]:
main_normalize=pd.DataFrame(main_norm_data,columns=['diff','mean_rd','mean_pcb'])

In [147]:
main_normalize.set_index('diff')

            mean_rd  mean_pcb
diff
-0.045455  0.333333  0.631579
-0.303030  0.166667  0.736842
 0.803030  0.722222  0.473684
-0.212121  0.111111  0.421053
-0.106061  0.222222  0.578947
...             ...       ...
 0.590909  0.111111  0.578947
 0.590909  0.333333  0.894737
-0.439394  0.500000  0.526316
-0.333333  0.111111  0.631579
 0.469697  0.611111  0.526316

[489 rows x 2 columns]

In [152]:
main_normalize.sort_values('diff',inplace=True)

In [163]:
main_diff,main_rd,main_pcb=main_normalize.loc[:,'diff'],main_normalize.loc[:,'mean_rd'],main_normalize.loc[:,'mean_pcb']

In [178]:
source=np.array([diff,mean_rd,mean_pcb]).T
np.lexsort()

(489, 3)

In [ ]:
scaler=MinMaxScaler(feature_range=[-200,300])
main_diff=scaler.fit_transform(np.array(main_diff).reshape(-1,1))
plt.figure(figsize=(10,8))
start=300
end=450
plt.plot(main_diff[start:end],main_rd[start:end],'-')
# plt.plot(main_diff,main_pcb)